.btn-primary {
  display: block;
  font-size: 2rem;
  color: #1fab62;
  background-color: #a9dbb9;
  border: 0.25rem solid #a9dbb9;
  padding: 0.55rem 2rem;
}

.btn-primary:hover {
  color: #a9dbb9;
  background-color: #1fab62;
}

.btn-primary:active {
  color: #1fab62;
  background-color: #a9dbb9;
}

.action-area {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 75%;
  background-color: whitesmoke;
  border: 0.5rem solid #a9dbb9;
}
