@import '/src/styles/styles';

.cardDisplay {
    background-color: white;
    border: 1px solid black;
    padding: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.attackAreaBefore {
    cursor: pointer;
}

.attackAreaAfter {
    cursor: default;
}