.btn-primary {
  display: block;
  font-size: 2rem;
  color: #1fab62;
  background-color: #a9dbb9;
  border: 0.25rem solid #a9dbb9;
  padding: 0.55rem 2rem;
}

.btn-primary:hover {
  color: #a9dbb9;
  background-color: #1fab62;
}

.btn-primary:active {
  color: #1fab62;
  background-color: #a9dbb9;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.app {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  background-color: #a8a292;
}
