.btn-players {
	margin: 0.25rem;
	border: solid 0.1rem;
	border-radius: 2rem;

	&__details {
		margin: 0 1rem;

		display: flex;
		justify-content: space-between;

		.player-name {
			font-size: 1.75rem;
		}

		.player-stats {
			font-size: 1.5rem;
		}
	}
}
